* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
body {
  background: linear-gradient(120deg, #fff 0%, #84bdff 100%);
  color: rgb(78, 78, 78);
  font-family: Montserrat;
  padding: 3rem;
}

.main-container {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 331px);
  grid-gap: 30px;
  background: rgb(255, 255, 255, 0.2);

  border-radius: 30px;
  padding: 1rem;
}

.profile-main {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  display: flex;
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgb(133, 133, 133);
  backdrop-filter: blur(5px);
  padding: 2rem;
  border-radius: 14px;
}

.profile-image img {
  width: 280px;
  border-radius: 24px;
  z-index: 4;
}

.profile-texts {
  display: grid;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
}

.profile-info {
  display: flex;
  justify-content: space-between;
}

.profile-name {
  font-size: 2rem;
  font-weight: 800;
}

.profile-position {
  font-size: 1.3rem;
}

.profile-email {
  display: flex;
}
.profile-number {
  display: flex;
}

.profile- {
}

.profile-contact span {
  margin-right: 1rem;
}

.skills-container {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgb(133, 133, 133);
  border-radius: 14px;
  padding: 1rem;
  height: fit-content;
}

.skills-container h1 {
  font-size: 1.2rem;
  font-weight: 600;
}
.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.skill h2 {
  font-size: 0.9rem;
  font-weight: 400;
}

.projects-container {
  grid-column: 2 / span 2;
  grid-row: 2 / span 5;
}

.projects-bar {
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgb(133, 133, 133);
  padding: 1rem;
  border-radius: 8px;
  display: grid;
}

.language {
  display: flex;
}
.l {
  padding: 0.8rem 1rem;
  box-shadow: 0 0 5px rgb(133, 133, 133);
  color: #333;
  border-radius: 8px;
  margin-right: 1rem;
}

.l:hover {
  background-color: rgb(38, 65, 189);
  color: #fff;
}

.l:active {
  background-color: rgb(53, 90, 255);
}

.project {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 2rem;
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgb(133, 133, 133);
  padding: 1.5rem;
  border-radius: 16px;
}

.proj-texts {
  display: grid;
}

.proj-texts h1 {
  font-size: 1.2rem;
}

.proj-image img {
  width: 322px;
  margin-right: 1.4rem;
  border-radius: 12px;
}

.proj-buttons {
  display: flex;
}

.btn {
  margin-right: 1rem;
  padding: 0.8rem 1rem;
  background-color: rgb(38, 65, 189);
  box-shadow: 0 0 5px rgb(133, 133, 133);
  color: rgb(255, 255, 255);
  border-radius: 8px;
}

.btn:hover {
  background-color: rgb(27, 45, 129);
  cursor: pointer;
}

.btn:active {
  background-color: rgb(38, 65, 189);
}

.experience-container {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgb(133, 133, 133);
  padding: 1rem;
  border-radius: 14px;
  height: fit-content;
}

.experience-container h1 {
  font-size: 1.2rem;
  margin-bottom: 1.4rem;
}

.exp-image img {
  width: 100px;
}

.exp {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 1.4rem;
}

.exp-text {
  margin-left: 1rem;
}

.exp-position {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.education-cert {
  grid-column: 1 / span 1;
  grid-row: 4 / span 2;
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgb(133, 133, 133);
  border-radius: 14px;
  padding: 1rem;
  height: fit-content;
}

.education-cert h1 {
  font-size: 1.2rem;
}
.cert {
  display: flex;
  margin: 2rem 0.2rem;
  align-items: center;
}

.cert-image img {
  width: 100px;
  margin-right: 1rem;
}

.program {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.hobbies {
  grid-column: 1 / span 1;
  grid-row: 5 / span 3;
  margin-top: 4rem;
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgb(133, 133, 133);
  padding: 1rem;
  border-radius: 14px;
  height: fit-content;
}

.hobbies h1 {
  font-size: 1.2rem;
}

.hobby {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
}

.hobby-image img {
  width: 350px;
  height: 200px;
  border-radius: 12px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.hobby-name {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.blog-container {
  grid-column: 2 / span 2;
  grid-row: 6 / span 4;
}

.blog {
  margin-top: 2rem;
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgb(133, 133, 133);
  border-radius: 16px;
  display: flex;
  padding: 2rem 1rem;
  height: fit-content;
}

.blog h1 {
  font-size: 1.4rem;
}

.blog-image img {
  width: 480px;
  border-radius: 18px;
}

.blog-bar {
  background-color: rgb(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgb(133, 133, 133);
  padding: 1rem;
  border-radius: 8px;
  font-size: 1rem;
}

.blog-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-text a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}

.blog-text a:hover {
  cursor: pointer;
  color: #fff;
}

.footer {
  display: flex;
  color: rgb(104, 104, 104);
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

@media (max-width: 1200px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 331px);
  }

  .blog-container {
    margin-top: 14rem;
    grid-column: 2 / span 2;
    grid-row: 8 / span 4;
  }

  .blog {
    display: flex;
    flex-direction: column-reverse;
  }

  .blog-image img {
    width: 325px;
    border-radius: 18px;
  }

  .project {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    background-color: rgb(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgb(133, 133, 133);
    padding: 1.5rem;
    border-radius: 16px;
  }
}

@media (max-width: 1000px) {
  .profile-info {
    display: block;
    margin-bottom: 1rem;
  }

  .blog-container {
    margin-top: 4.3rem;
    grid-column: 1 / span 1;
    grid-row: 5 / span 2;
    margin-bottom: 20rem;
  }

  .hobbies {
    grid-column: 1 / span 1;
    grid-row: 7 / span 3;
  }

  .proj-image img {
    width: 263px;
  }

  .l {
    padding: 0.8rem 0.5rem;
  }
}

@media screen and (max-width: 850px) {
  body {
    padding: 0.7rem;
  }
  .main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 400px);
  }

  .profile-main {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    height: fit-content;
    margin-bottom: 5rem;
  }

  .profile-image img {
    width: 262px;
  }

  .profile-image {
    display: flex;
    align-self: center;
  }

  .skills-container {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  .projects-container {
    grid-column: 2 / span 1;
    grid-row: 2 / span 5;
  }
}

@media screen and (max-width: 650px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(16, 355px);
    grid-row-gap: 3rem;
  }
  .profile-main {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    height: fit-content;
    margin-bottom: 5rem;
    display: grid;
  }

  .profile-image img {
    width: 370px;
  }

  .profile-image {
    display: flex;
    align-self: center;
  }

  .skills-container {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

  .experience-container {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }

  .education-cert {
    grid-column: 1 / span 1;
    grid-row: 5 / span 2;
  }

  .projects-container {
    grid-column: 1 / span 1;
    grid-row: 6 / span 5;
    margin-top: 5rem;
  }

  .proj-image img {
    width: 370px;
  }

  .blog-container {
    grid-column: 1 / span 1;
    grid-row: 12 / span 2;
    margin-top: 10rem;
  }

  .hobbies {
    grid-column: 1 / span 1;
    grid-row: 14 / span 2;
  }
}
